@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.remark-slide-content {
  color: #efefef;
}

code {
  background-color: #4e4e4e;
  color: #e6e6e6;
  padding: 15px;
}

li > code {
  background-color: none;
  padding: 0;
}

a:visited, a:active, a {
  color: #efefef;
  text-decoration: none;
  border-bottom: 5px solid #efefef;
}

.stats h1, .stats h2 {
  background-color: #942f2f;
  color: #efefef;
  padding: 10px 20px;
}

.citation {
  font-size: 0.7em;
  padding: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #942f2f;
}

.citation a {
  border-bottom: 2px solid #efefef;
}

.real-big {
  font-size: 2em;
}

.fivehundred img {
  width: 25em;
 }

.fourhundred img {
   width: 20em;
}

.threehundred img {
  width: 15em;
}

.camp img {
  width: 13em;
}

.issue img {
  width: 37em;
}

.black {
  color: black;
}

.black a {
  color: #942f2f;
  text-decoration: none;
  border-bottom: 5px solid #942f2f;
}

.black a:visited {
  color: #942f2f;
}

#heart {
  position: relative;
  top: 20px;
}

.twitter {
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #434343;
  color: #efefef;
  text-align: right;
}

.remark-slide-number {
  display: none;
}

.together {
    color: #000000;
    font-family: 'Pacifico', sans-serif;
    font-size: 5em;
}
